{% extends 'main.html' %}

{% block title %}Travis Grillot - Skills{% endblock %}

{% block content %}

<h1 class="text-4xl">My Skills</h1>

<div class="grid grid-cols-4">
    {% for skill in skills %}
        <a href="{% url 'skill' skill.slug %}" class="col-span-1 mx-2">
            <div class="py-2 px-4 bg-secondary-bg text-left shadow-lg rounded-sm my-4 text-text-primary hover:text-text-primary hover:transition-all ease-in-out duration-300 hover:scale-105">
                <div>
                    <h3 class="text-text-primary text-2xl font-semibold">{{skill.name}}</h3>
                    <p class="mt-2 italic">{{skill.blurb}}</p>
                    <p class="mt-2">{{skill.get_explevel_display}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}