@tailwind base;
@tailwind components;
@tailwind utilities;

/* THEMES */

.theme-light {
    --text-primary: black;
    --text-secondary: white;
    --a-primary: #4649AF;
    --a-hover: #6290C3;
    --secondary-bg: #ACA9BB;
    --primary-bg: white;
    --tertiary-bg:lightgray;
    --social-bar:#6290C3;
    --error-color: red; 
}

.theme-dark {
    --text-primary: white;
    --text-secondary: black;
    --a-primary: #293ad7;
    --a-hover: #2D82B7;
    --secondary-bg: black;
    --primary-bg: #202022;
    --tertiary-bg:#262529;
    --social-bar:#2D82B7;
    --error-color: red;
}

.theme-hulk {
    --text-primary: black;
    --text-secondary: white;
    --a-primary: #5B7F57;
    --a-hover: #7BAE7F;
    --secondary-bg: #4a306d;
    --primary-bg: #fceff9;
    --tertiary-bg:#BEE6B9;
    --social-bar:#7D5FA1;
    --error-color: red;
}

/* END THEMES */

/* CUSTOM DEFAULTS AND OVERRIDES */

body {
    color: var(--text-primary);
    background-color: var(--primary-bg);
}

a {
    color: var(--a-primary);
}
a:hover {
    color: var(--a-hover);
    cursor:pointer;
}

html [type='text']:focus, 
html [type='email']:focus, 
html textarea:focus {
    --tw-ring-color: var(--a-primary);
    border-color: var(--a-primary);
}

.errorlist {
    color: var(--error-color)
}

/* HOME PAGE ANIMATION STUFF */

#homeanim text {
	text-transform: uppercase;
	animation: stroke 5s;
	stroke-width: 2;
	stroke: var(--a-primary);
    fill: var(--a-primary);
	font-size: 4rem;
}
@keyframes stroke {
	0%   {fill: rgba(72,138,20,0); stroke: var(--a-primary);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: var(--a-primary); }
	80%  {fill: rgba(72,138,20,0); stroke: var(--a-primary); stroke-width: 3; }
	100% {fill: var(--a-primary); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}