@tailwind base;
@tailwind components;
@tailwind utilities;

/* THEMES */

.theme-light {
    --text-primary: black;
    --a-primary: #4649AF;
    --a-hover: #6290C3;
    --secondary-bg: lightgray;
    --primary-bg: white;
    --error-color: red; 
}

.theme-dark {
    --text-primary: white;
    --a-primary: #4649AF;
    --a-hover: #2D82B7;
    --secondary-bg: black;
    --primary-bg: #272727;
    --error-color: red;
}

.theme-hulk {
    --text-primary: black;
    --a-primary: #5B7F57;
    --a-hover: #7BAE7F;
    --secondary-bg: #4a306d;
    --primary-bg: #fceff9;
    --error-color: red;
}

/* END THEMES */

/* CUSTOM DEFAULTS AND OVERRIDES */

body {
    color: var(--text-primary);
    background-color: var(--primary-bg);
}

a {
    color: var(--a-primary);
}
a:hover {
    color: var(--a-hover);
    cursor:pointer;
}

html [type='text']:focus, 
html [type='email']:focus, 
html textarea:focus {
    --tw-ring-color: var(--a-primary);
    border-color: var(--a-primary);
}

.errorlist {
    color: var(--error-color)
}

/* END CUSTOM DEFAULTS AND OVERRIDES */