<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-secondary-bg shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0 inner">
      <a href="{% url 'home' %}" class="{% if request.get_full_path == "/" %}leading-14 text-4xl{% else %}text-2xl{% endif %} no-underline font-sans font-bold">TravisGrillot.dev</a><br>
      <span class="text-xs text-a-hover {% if request.get_full_path == "/" %}hidden{% endif %}">{{tagline}}</span>
    </div>
  
    <div class="sm:mb-0 self-center">
      <a href="{% url 'home' %}" class="text-md no-underline ml-2 px-1">Home</a>
      <a href="{% url 'about' %}" class="text-md no-underline ml-2 px-1">About Me</a> 
      <a href="{% url 'projects' %}" class="text-md no-underline ml-2 px-1">Projects</a>
      <a href="{% url 'skills' %}" class="text-md no-underline ml-2 px-1">Skills</a>
      <a href="{% url 'contact' %}" class="text-md no-underline ml-2 px-1">Contact</a>
    </div>
</nav> 