{% load static %}

<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-secondary-bg shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0 inner">
      <a href="{% url 'home' %}" class="{% if request.get_full_path == "/" %}leading-14 text-4xl{% else %}text-2xl{% endif %} no-underline font-sans font-bold">TravisGrillot.dev</a><br>
      <span class="text-xs text-a-hover {% if request.get_full_path == "/" %}hidden{% endif %}">{{tagline}}</span>
    </div>
  
    <div class="sm:mb-0 self-center">
      <a href="{% url 'home' %}" class="text-md no-underline ml-2 px-1">Home</a>
      <a href="{% url 'about' %}" class="text-md no-underline ml-2 px-1">About Me</a> 
      <a href="{% url 'projects' %}" class="text-md no-underline ml-2 px-1">Projects</a>
      <a href="{% url 'skills' %}" class="text-md no-underline ml-2 px-1">Skills</a>
      <a href="{% url 'contact' %}" class="text-md no-underline ml-2 px-1">Contact</a>

      <div class="group inline-block items-right">

        <a class="outline-none focus:outline-none px-3 py-1 rounded-sm flex items-left">
          <span class="pr-1 flex-1">Theme</span>
          <span>
            <svg class="inline-block mt-auto mb-auto fill-current h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
            </svg>
          </span>
        </a>

        <ul class="rounded-md transform scale-0 group-hover:scale-100 bg-secondary-bg absolute right-0 transition duration-150 ease-in-out origin-top content-center">
          <template x-for="id in Object.keys(colorThemes)" :key="id"> 
            <li><a :class="choiceClass(colorThemes[id].id)" x-text="colorThemes[id].text" @click="changeTheme(colorThemes[id].id)"></a></li>
          </template>
        </ul>
      </div>
    </div>
    <script src="{% static 'js/themes.js' %}"></script>
</nav> 