@tailwind base;
@tailwind components;
@tailwind utilities;


/* THEMES */

.theme-light {
    --bgbody: #f2f2f2;
    --bgheadfoot: #e0e0e0;
    --bgcard: #ffffff;
    --bgcardhead: #e0e0e0;
    --deftext: #333333;
    --link: #1565c0;
    --linkhov: #0d47a1;
    --actionbutton: #1e88e5;
    --headerfooterlink: #1e88e5;
    --headerfooterlinkhov: #0d47a1;
    --error-color: red;
  }
  
  .theme-dark {
    --bgbody: #292929;
    --bgheadfoot: #1a1a1a;
    --bgcard: #333333;
    --bgcardhead: #1a1a1a;
    --deftext: #ffffff;
    --link: #9c27b0;
    --linkhov: #7b1fa2;
    --actionbutton: #e040fb;
    --headerfooterlink: #bb86fc;
    --headerfooterlinkhov: #6200ea;
    --error-color: red;
  }
  
  .theme-incredible {
    --bgbody: #e4f9e3;
    --bgheadfoot: #6a1b9a;
    --bgcard: #ffffff;
    --bgcardhead: #81c784;
    --deftext: #333333;
    --link: #4caf50;
    --linkhov: #388e3c;
    --actionbutton: #64dd17;
    --headerfooterlink: #81c784;
    --headerfooterlinkhov: #519657;
    --error-color: red;
  }
  
  .theme-sunny {
    --bgbody: #ffffff;
    --bgheadfoot: #ffd966;
    --bgcard: #ffeb99;
    --bgcardhead: #fff9c4;
    --deftext: #333333;
    --link: #2196f3;
    --linkhov: #1976d2;
    --actionbutton: #ff5722;
    --headerfooterlink: #0288d1;
    --headerfooterlinkhov: #01579b;
    --error-color: red;
  }
  
  .theme-minty {
    --bgbody: #d3f6f5;
    --bgheadfoot: #80cbc4;
    --bgcard: #ffffff;
    --bgcardhead: #80deea;
    --deftext: #333333;
    --link: #009688;
    --linkhov: #00796b;
    --actionbutton: #4db6ac;
    --headerfooterlink: #00796b;
    --headerfooterlinkhov: #004c40;
    --error-color: red;
  }
  
  /* CUSTOM DEFAULTS AND OVERRIDES */
  
  a {
    color: var(--link);
  }
  
  a:hover {
    color: var(--linkhov);
    cursor:pointer;
  }
  
  html [type='text']:focus, 
  html [type='email']:focus, 
  html textarea:focus {
    --tw-ring-color: var(--link);
    border-color: var(--linkhov);
  }
  
  .errorlist {
    color: var(--error-color)
  }
  
  /* HOME PAGE ANIMATION STUFF */
  
  #homeanim text {
    animation: stroke 5s;
  }
  
  @keyframes stroke {
    0%  {
      fill: rgba(72,138,20,0);
      stroke: var(--link);
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 1;
    }
  
    70% {
      fill: rgba(72,138,20,0);
      stroke: var(--link);
    }
  
    80% {
      fill: rgba(72,138,20,0);
      stroke: var(--link);
      stroke-width: 1;
    }
  
    100%{
      fill: var(--link);
      stroke: rgba(54,95,160,0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 1;
    }
  }

  .rotato.transition {
    animation: rotate 2001ms;
  }

  @keyframes rotate {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    10% {
      opacity: 100;
      transform: scale(1);
    }
    60% {
      opacity: 100;
      transform: translateX(0rem);
    }
    100% {
      opacity: 0;
      transform: translateX(24rem);
    }
  }