{% extends 'main.html' %}

{% block title %}{{name}} - Skills{% endblock %}

{% block content %}

<h1 class="text-4xl ml-4 my-6 font-bold">Some of My Skills</h1>

<div class="md:grid md:grid-cols-4">
    {% for skill in skills %}
        <a href="{% url 'skill' skill.slug %}" class="col-span-1 md:mx-2 mb-4">
            <div class="bg-bgcard pb-2 text-left shadow-lg rounded-sm text-deftext hover:text-deftext hover:transition-all ease-in-out duration-300 hover:scale-105">
                <div>
                    <h3 class="pl-4 py-2 text-deftext text-2xl bg-bgcardhead shadow-sm font-bold">{{skill.name}}</h3>
                    <p class="mt-2 ml-4 font-bold">Level: {{skill.get_explevel_display}}</p>
                    <p class="mt-2 ml-4 italic">{{skill.blurb}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}